@import url('https://fonts.googleapis.com/css?family=Asap:400,600,700i');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Asap, sans-serif
}

header{
    text-align: center;
    padding: 20px;
    background-color: white;
    font-weight: bold;
    color: black;
    position: relative;
}

body{
    background-color: darkslategrey;
    color: white;
    text-align: center;
}

.box{
    border: solid white 3px;
    padding: 15px 20px;
    width: 500px;
    margin: 20px auto;
}